html,
body {
    margin: 0;
    padding: 0;

    color: var(--black);
    background-color: #e5e5e5;

    a {
        text-decoration: none;

        color: inherit;
    }

    * {
        box-sizing: border-box;
    }
}

:root {
    --black: #3b434e;
    --white: #fff;
    --grey-light: #ebebeb;
    --primary: #7653fc;
    --primary-hover: #6240e9;
    --green: #1dc37e;
    --green-light: #c8f8e4;
    --red: #fc836d;
    --font-family: "Noto Sans KR", sans-serif;
}
